blockquote {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 200px;
}

.navbar {
  background-color: #00000	;
  font-family: Verdana;
  visibility: hidden;
}

.navbar a:link {
  color: white;
}

.jumbotron {
  background-color: white;
  padding-bottom: 0px;
  margin-bottom: 0px;
  
  
  background: url(./images/VF-jumbo.jpg) no-repeat; 
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  position: relative;
  
}

.right-justify {
  margin-right: 0px;
  margin-top: 200px;
  text-align: right;
  -webkit-text-fill-color: #FFF;
  -webkit-text-stroke-width: .25px;
  -webkit-text-stroke-color: #000000;
  text-shadow: 1px 1px 5px #000;
  white-space: nowrap;
  overflow: visible;
}

.smaller {
  font-size: 50%;
}



#last-p {
  height: 300px;
}

@media screen and (max-width: 991px) { 
  .img-center {
  display: block;
    margin: auto;
    width: 40%;
}
}

@media screen and (max-width: 720px) { 
  .jumbotron {
    background-size: 705px;
    
  }
}

@media screen and (max-width: 403px) { 
  body{
    min-width: 403px;
    
  }
}
